body {
    background-color: hsl(0, 0%, 8%);

}

.costumer-name {
    color: antiquewhite;
}

.region {
    color: hsl(75, 94%, 57%);
    margin-bottom: 5px;
}

.des {
    color: antiquewhite;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-pic {
    margin: auto;
    width: 200px;
    /* Adjust the size as needed */
    height: 200px;
    /* Ensure the height and width are equal */
    border-radius: 50%;
    /* This makes the image circular */
}

.card {
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    margin: 60px auto;
    width: 25%;
    padding: 10px;
    border-radius: 20px;
}

.Mentor {
    width: 50%;
    background-color: hsl(0, 0%, 20%);
    color: antiquewhite;
    font-weight: 500;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}

.Mentor:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.LinkedIn {
    width: 50%;
    background-color: hsl(0, 0%, 20%);
    color: antiquewhite;
    font-weight: 500;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}

.LinkedIn:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.Twitter {
    width: 50%;
    background-color: hsl(0, 0%, 20%);
    color: antiquewhite;
    font-weight: 500;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}

.Twitter:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.Instagram {
    width: 50%;
    background-color: hsl(0, 0%, 20%);
    color: antiquewhite;
    font-weight: 500;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}

.Instagram:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.GitHub {
    width: 50%;
    background-color: hsl(0, 0%, 20%);
    color: antiquewhite;
    font-weight: 500;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}


.GitHub:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}